.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}

.login {
	width: 40%;
	padding: 25px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.login h2 {
	text-align: center;
	margin: 15px 0px 25px 0px;
}

form {
	margin: 20px 0px;
}

.field-group {
	margin-top: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 5px;
	margin: 5px 0px;
}

input[type="submit"] {
	padding: 3px;
	margin-top: 20px;
}