/* Colors: British palette
	blue: #2f3640;
	yellow: #e1b12c;
*/

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	font-family: 'Helvetica';
}

.clearfix {
	clear: both;
	float: none;
}

#logo {
	width: 80%;
	margin: 10px auto;
}

#logo a {
	color: #333333;
	float: left;
}

.menubar {
	clear: both;
	margin-top: 10px;
	background-color: #2f3640;
	text-align: center;
}

.menubar ul {
	display: inline-flex;
	list-style: none;
}

.menubar ul li {
	margin: 0.5rem;
	padding: 0.5rem;
}

.menubar ul li a {
	color: white;
	text-decoration: none;
}

.active, .menubar ul li:hover {
	font-weight: bold;
}

.submenu1 {
	display: none;
}

.menubar ul li:hover .submenu1 {
	display: block;
	position: absolute;
	background-color: #2f3640;
	margin-top: 10px;
	margin-left: -15px;
}

.menubar ul li:hover .submenu1 ul {
	display: block;
	margin: 0.5rem;
}

.menubar ul li:hover .submenu1 ul li {
	padding: 0.5rem;
	font-weight: normal;
	border-bottom: 1px dotted #cccccc;
	background: transparent;
	text-align: left;
}

.menubar ul li:hover .submenu1 ul li:last-child {
	border-bottom: none;
}

.menubar ul li:hover .submenu1 ul li:hover {
	opacity: 0.7;
}

.alert {
	display: block;
	width: 100%;
	margin-left: 10px;
	font-size: 0.7rem;
	font-weight: bold;
}

.alert-error {
	color: darkred;
}